<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="white-space: pre-wrap;"><%=@blog.title %></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" style="white-space: pre-wrap;"><%=@blog.sub_title %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="panel panel-default">
        <div class="panel-body" style="white-space: pre-wrap;"><%=@blog.description %></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <%= link_to "Edit", edit_blog_path(@blog)%>
    </div>  
  </div>
</div>  